/* your styles go here */

.my-avatar:before {
    content: "";
    width: 100%;
    height: 9px;
    background: white;
    position: absolute;
    top: 50px;
}

.my-avatar {
    position: relative;
}

@media screen and (max-width:980px){
    .container-table table {
        width: 1080px!important;
    }
    .container-table {
        width: 100%;
        overflow-x: scroll;
    }
}